<form [formGroup]="form" *ngIf="!loading">
    <mat-horizontal-stepper formArrayName="questions" linear>
      <mat-step [label]="quiz[idx].label"
                *ngFor="let question of questions?.controls; let idx = index"
                [formGroupName]="idx"
                errorMessage="Name is required." >
        <div >
          <app-prompt [prompt]="questions.get([idx])"
                      [labels]="quiz[idx].options"
                      [question]="idx"
                      [invalid]="invalid">
          </app-prompt>
        </div>

        <div class="prompt-buttons d-flex flex-row-reverse justify-content-between mt-5">
          <button type="button" class="btn btn-success" (click)="nextStep()">Next</button>
          <button type="button" class="btn btn-secondary" (click)="previousStep()" *ngIf="idx>0">Back</button>
        </div>

      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Done</ng-template>
        <p>You are now done.</p>
        <div>
          <button mat-button  (click)="previousStep()">Back</button>
          <button mat-button  (click)="onSubmit()">Submit</button>
        </div>
      </mat-step>

    </mat-horizontal-stepper>

</form>

<!--
<form [formGroup]="form">
    <mat-horizontal-stepper formArrayName="questions" linear>
      <mat-step [label]="questions.get([idx]).value.label"
                *ngFor="let question of questions?.controls; let idx = index"
                [formGroupName]="idx">
        <app-prompt [prompt]="questions.get([idx])"
                    [question]="idx">
        </app-prompt>
        <div class="prompt-buttons d-flex flex-row-reverse justify-content-between mt-5">
          <button type="button" class="btn btn-success" (click)="nextStep()">Next</button>
          <button type="button" class="btn btn-secondary" (click)="previousStep()" *ngIf="idx>0">Back</button>
        </div>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Done</ng-template>
        <p>You are now done.</p>
        <div>
          <button mat-button  (click)="previousStep()">Back</button>
        </div>
      </mat-step>
    </mat-horizontal-stepper>
    <button mat-button  (click)="test()">Test</button>

</form>
-->

