<form [formGroup]="form" *ngIf="!loading">
    <mat-horizontal-stepper formArrayName="questions" labelPosition="bottom" linear>
      <mat-step *ngFor="let question of questions?.controls; let idx = index"
                [formGroupName]="idx"
                errorMessage="Name is required." >
        <div >
          <app-prompt [prompt]="questions.get([idx])"
                      [labels]="quiz[idx]"
                      [question]="idx"
                      [invalid]="invalid">
          </app-prompt>
        </div>

        <div class="prompt-buttons d-flex flex-row-reverse justify-content-between mt-5">
          <button type="button" class="btn btn-success" (click)="nextStep()">Next</button>
          <button type="button" class="btn btn-secondary" (click)="previousStep()" *ngIf="idx>0">Back</button>
        </div>

      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Done</ng-template>
        <p>Excellent, you have completed que Quiz.</p>
        <p>To complete the process, please press the Send Results button.
          You will go to the results page and also, receive by email the same results.
        </p>
        <div class="final-buttons">
          <button type="submit" class="btn btn-info btn-md" (click)="previousStep()">
            Back
          </button>

          <button type="submit" class="btn btn-primary btn-md" (click)="onSubmit()">
            Send Results
          </button>

        </div>
      </mat-step>

    </mat-horizontal-stepper>

</form>

