<div class="container">
  <div class="row" [formGroup]="prompt">
<!--    <div class="image-container col col-md-6 col-12">-->
<!--      <img class="promptimage" src="assets/images/prompt{{ question + 1 }}.png">-->
<!--    </div>-->
    <div class="col col-md-12 col-sm-12 mt-3 pr-0 ml-5">
      <div class="prompt-header">
        <h5>{{ labels.content }}</h5>
      </div>
      <div class="row" *ngFor="let item of labels.options; let j = index" [class.is-invalid]="invalid">
        <mat-checkbox class="border-bottom mb-2" [formControl]="options.get([j])">
            <span class="text-wrap">
                {{ item.option }}
            </span>
        </mat-checkbox>
      </div>
      <div class="invalid-feedback" role="alert">
        Question # {{ question + 1 }} - At least one answer must be selected.
      </div>
    </div>
  </div>
</div>
